body{
    background-image: url("../images/recipe/silverware.jpg");
    background-color: white;
    color: #404040;
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color: #A4A400;
}
h1{
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
.para{
    background-color: #FFFFA8;
    margin-left: 30px;
    margin-right: 30px;
}
.strike{
    text-decoration: line-through;
}
ul{
    list-style-image: url("../images/recipe/pie_icon.gif");
}